@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    font-family: "Cuprum", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



@media only screen and (max-width: 600px) {
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo{
        display: flex;
        align-items: center;
    }
    .logo img{
        height: 8vw;
    }

    .search{
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
    }
    .search input{
        border: none;
        width: 12em;
        padding-left: .5em;
        font-size: x-large;
    }
    .search img{
        padding: .5em;
        height: 3vw;
        background-color: #D54215;
    }

    .login{
        display: flex;
        align-items: center;
    }
    .login a{
        color: black;
    }
    .login img{
        height: 3vw;
        border-radius: 50%;
    }


    .ad-section{
        background-color: #114388;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        padding: 1em 1em 1em 1em;
    }
    .ad-title{
        font-size: x-large;
    }
    .ad-title a{
        color: white;
    }
    .yellow-txt{
        color: #fbd657;
        font-weight: 700;
    }
    .hidden{
        display: none;
    }

    .ad-state{
        display: flex;
        gap: 2em;
        color: white;
    }
    .numbers{
        display: flex;
        align-items: center;
        gap: .5em;
    }
    .numbers p{
        font-size: xx-large;
    }
    .data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5em;

        font-size: x-large;
    }
    .blue-ball{
        background-color: rgb(46, 197, 182);
        height: .5em;
        width: .5em;
        border-radius: 50%;
        border: 1px solid white;
    }
    .bold{
        font-weight: bolder;
    }
    .orange-ball{
        background-color: rgb(241, 80, 37);
        height: .5em;
        width: .5em;
        border-radius: 50%;
        border: 1px solid white;
    }
    .yellow-ball{
        background-color: rgb(231, 171, 70);
        height: .5em;
        width: .5em;
        border-radius: 50%;
        border: 1px solid white;
    }
}